<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width" />
    <%= stylesheet_link_tag :main %>
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">
    <!--[if IE]>
      <%= stylesheet_link_tag "github-fork-ribbon.ie" %>
    <![endif]-->
    <title>Middleman Directory</title>
    <%= javascript_include_tag :modernizr %>
  </head>
  <body>

    <nav class="global-nav">
      <section class="wrap-container">
        <header class="global-nav-item logo-text">
          <%= link_to "Middleman", "http://www.middlemanapp.com/" %>
        </header>

        <ul class="global-nav-list">
          <li class="global-nav-item">
            <%= link_to "Contribute",
              "http://www.middlemanapp.com/community" %>
          </li>
          <li class="global-nav-item">
            <%= link_to "Docs",
              "http://www.middlemanapp.com/basics/install/", class: "cta-link" %>
          </li>
        </ul>
      </section>
    </nav>

    <script type="text/x-handlebars" data-template-name="application">
      <div class = "body-content-container">
        <div class="header row">
          <div class="columns large-5">
            <dl class="sub-nav">
              {{#each cat in categories}}
                {{#linkTo category cat tagName="dt"}}<a>{{cat.name}}</a>{{/linkTo}}
              {{/each}}
            </dl>
          </div>
          <div class="columns large-7">
            <div class="extension-search">
              {{view App.FilterView valueBinding="filterText"}}
            </div>
            <div class="extension-suggestions">
              <p>
                <span class="tip-right">↪</span>
                <a class="tag" {{action filter "S3"}}>S3</a>,
                <a class="tag" {{action filter "CDN"}}>CDN</a>,
                <a class="tag" {{action filter "Syntax"}}>Syntax</a>,
                <a class="tag" {{action filter "Blog"}}>Blog</a>,
                <a class="tag" {{action filter "Favicon"}}>Favicon</a>,
                <a class="tag" {{action filter "SVG"}}>SVG</a>,
                <a class="tag" {{action filter "Favicon"}}>Favicon</a>,
                <a class="tag" {{action filter "Compress"}}>Compress</a>
              </p>
            </div>
          </div>
        </div>
        <div class="container row">
          <div class="columns large-12">
            {{outlet}}
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="wrap-container">
          <div class="footer-column">
            <article class="footer-site-information">
              <p>
                &copy; 2011-2014 <%= link_to "Thomas Reynolds", "http://awardwinningfjords.com" %>
              </p>
              <p class="footer-open-source-credit">
                Maintained by the <%= link_to "core team",
                  "https://github.com/orgs/middleman/people" %> with help from
                  <%= link_to "contributors",
                    "https://github.com/middleman/middleman/graphs/contributors" %>.
              </p>
            </article>
            <article class="footer-contact">
              <ul class="footer-contact-list">
                <li class="footer-contact-list-item twitter-link">
                  <%= link_to "@middlemanapp", "https://twitter.com/middlemanapp" %>
                </li>
                <li class="footer-contact-list-item github-link">
                  <%= link_to "GitHub", "https://github.com/middleman/middleman" %>
                </li>
              </ul>
            </article>
          </div>
          <div class="footer-column footer-right">
            <p class="footer-credit">Site proudly designed by</p>
            <%= image_tag "footer-thoughtbot-logo.svg", class: "footer-thoughtbot-logo" %>
          </div>
        </div>
      </footer>
    </script>

      <script type="text/x-handlebars" data-template-name="category">
        <div class="list-container">
          <div class="trap ribbon-wrap">
            <div class="trap-ribbon">
              <a href="https://github.com/middleman/middleman-directory" target="_blank">Add Your Extension <i class="icon-github-alt"></i></a>
            </div>
          </div>

          <dl class="sub-nav">
            {{#each tag in sortedTags}}
              {{#linkTo category.tag tag tagName="dd"}}<a>{{tag.name}}</a>{{/linkTo}}
            {{/each}}
          </dl>

          {{outlet}}
        </div>
      </script>

      <script type="text/x-handlebars" data-template-name="category/tag">
        <div class="listjs-list">
          {{#each sortedItems}}
            <div class="row">
              <div class="list-details columns large-8">
                <h2 class="name">
                  <a {{bindAttr href=normalizedLink}} target="_blank">{{name}}</a>

                  {{#if isOfficial}}
                    <span class="label label-official category">Official</span>
                  {{else}}
                    <span class="label label-community category">Community</span>
                  {{/if}}

                  {{#each tag in tagsWithoutOfficial}}
                    <span class="label subcategory">{{tag.name}}</span>
                  {{/each}}
                </h2>
                <p class="description">{{{description}}}</p>
                <p class="list-details-footer">
                  {{#if links.github}}
                    <i class="icon-link"></i><a {{bindAttr href=links.github}} target="_blank">{{links.github}}</a>
                  {{/if}}
                  {{#if links.site}}
                    <i class="icon-link"></i><a {{bindAttr href=links.site}} target="_blank">{{links.site}}</a>
                  {{/if}}
                </p>
              </div>
              {{#if links.github}}
              <div class="columns large-3 large-offset-1">
                <div class="well">
                    <a class="button expand btn-github" {{bindAttr href=links.github}} target="_blank"><i class="icon-github icon-large" style="line-height: 1.2em;"></i> Github</a>
                  <!--a class="button expand btn-middleman"><i class="icon-cog icon-large" style="line-height: 1.2em;"></i> <s>Config</s></a-->
                </div>
              </div>
              {{/if}}
            </div>
          {{/each}}
        </div>
      </script>

      <script>
        CATEGORIES = [
          {
            name: 'Extensions',
            data: <%= data.extensions.map(&:to_h).to_json %>
          },
          {
            name: 'Templates',
            data: <%= data.templates.map(&:to_h).to_json %>
          },
          {
            name: 'Services',
            data: <%= data.services.map(&:to_h).to_json %>
          }
        ];
      </script>
      <%= javascript_include_tag :main %>
      <script type="text/javascript">
        var _gauges = _gauges || [];
        (function() {
          var t   = document.createElement('script');
          t.type  = 'text/javascript';
          t.async = true;
          t.id    = 'gauges-tracker';
          t.setAttribute('data-site-id', '518c0941613f5d720e000048');
          t.src = '//secure.gaug.es/track.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(t, s);
        })();
      </script>


  </body>
</html>
